[Desktop Entry]
Type=Application
Name=Pyqulator
Comment=Mathematical calculations
Exec=pyqulator
Icon=accessories-calculator
Terminal=false
Categories=Utility;Calculator;
StartupWMClass=pyqulator
Comment[ru]=Математические вычисления
Comment[uk]=Математичні обчислення
